<mat-card class="mx-3 mb-5">
  <mat-card-header>
    <mat-card-title><h6 class="color-theme-main">Welcome</h6></mat-card-title>
    <mat-card-subtitle>Metadata migration and management with Salesforce.org can be a headache.
      Our goal is to provide a pain-free solution for Salesforce.org Metadata needs.
      We offer basic functionality such as retrieval and deployment
      in addition to powerful scheduling for Metadata backups and migrations.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="pt-5 text-left">
    <h6 class="color-theme-main">Recent development</h6>
    <p>07/23/18 - We're excited to announce that we've reached our first release target for One-off pull, push, and downloads for metadata. <br/>
      Sights are now set on implementing scheduled metadata backups for organizations and allowing package uploads for deployments.</p>
  </mat-card-content>
</mat-card>
